html,
body {
	margin: 0;
	padding: 0;
	background-image: url("bg.jpg");
	background-color: #141516;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Fira Code', sans-serif;
	font-feature-settings: "calt" 1;
}

#container {
	position: absolute;
	padding: 0 20px 0 20px;
	top: 20%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: auto;
}

#content {
	opacity: 0.9;
	-webkit-box-shadow: 1px 1px 20px 0px #000;
	-moz-box-shadow: 1px 1px 20px 0px #000;
	box-shadow: 1px 1px 20px 0px #000;
	background-color: #282a36;
	margin: 4px;
	padding: 8px;
	border: 5px solid #282a36;
	font-size: 14px;
}
a {
	display: inline;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.cyan {
	color: #9aedfe;
	padding: 0;
}

.blue {
	color: #57c7ff;
	padding: 0;
}

.green {
	padding: 0;
	color: #5af78e;
}

.red {
	padding: 0;
	color: #ff5c57;
}

.purple {
	padding: 0;
	color: #cf93f3;
}

.yellow {
	padding: 0;
	color: #eae434;
}

.white {
	padding: 0;
	color: #ffffff;
}

.copyleft {
	position: relative;
    top: -2px;
	display:inline-block;
	transform: rotate(180deg);
  }

@media screen and (max-width: 800px) {

	#container {
		position: absolute;
		padding: 0;
		top: 5px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: auto;
	}

	#content {
		opacity: 0.9;
		-webkit-box-shadow: 0 0 0 0 #000;
		-moz-box-shadow: 0 0 0 0 #000;
		box-shadow: 0 0 0 0 #000;
		margin: 4px;
		padding: 8px;
	}
}