html,
body {
	margin: 0;
	padding: 0;
	background-image: url("https://cdn.patrickwu.space/base/wsl-bg.jpeg");
	background-color: #141516;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Fira Code', sans-serif;
	font-feature-settings: "calt"1;
}

#container {
	margin: 40px auto;
	-webkit-box-shadow: 1px 1px 20px 0px #000;
	-moz-box-shadow: 1px 1px 20px 0px #000;
	box-shadow: 1px 1px 20px 0px #000;
	max-width: 700px;
}

#content {
	opacity: 0.9;
	background-color: #282a36;
	padding: 8px;
	border: 5px solid #282a36;
	font-size: 14px;
}

a {
	display: inline;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

.cyan {
	color: #9aedfe;
	padding: 0;
}

.blue {
	color: #57c7ff;
	padding: 0;
}

.green {
	padding: 0;
	color: #5af78e;
}

.red {
	padding: 0;
	color: #ff5c57;
}

.purple {
	padding: 0;
	color: #cf93f3;
}

.yellow {
	padding: 0;
	color: #eae434;
}

.white {
	padding: 0;
	color: #ffffff;
}

.gray {
	color: #9e9e9e;
}

.copyleft {
	position: relative;
	top: -2px;
	display: inline-block;
	transform: rotate(180deg);
}

@media screen and (max-width: 800px) {

	#container {
		margin: 10px;
		height: auto;
		-webkit-box-shadow: 0 0 0 0 #000;
		-moz-box-shadow: 0 0 0 0 #000;
		box-shadow: 0 0 0 0 #000;
	}

	#content {
		opacity: 0.9;
		padding: 8px;
	}
}

.ui-titlebar {
	display: flex;
	height: 32px;
	background: #000;
	user-select: none;
	cursor: default;
}

.ui-titleicon {
	flex-grow: 1;
	max-width: 32px;
	max-height: 32px;
}

.ui-titletext {
	flex-grow: 2;
	max-height: 32px;
	width: auto;
	font: 12px/32px "Segoe UI", Arial, sans-serif;
	color: #fff;
	text-indent: 10px;
}

.ui-titlecontrols {
	max-width: 144px;
	max-height: 32px;
	flex-grow: 1;
}

.ui-btn {
	margin: 0;
	width: 48px;
	height: 32px;
	border: 0;
	outline: 0;
	background: transparent;
}

.ui-btn:hover {
	background: rgba(255, 255, 255, .1);
}

.ui-btn.close:hover {
	background: #e81123;
}

.ui-btn svg path,
.ui-btn svg rect,
.ui-btn svg polygon {
	fill: #fff;
}

.ui-btn svg {
	width: 10px;
	height: 10px;
}
